*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body{
	margin-top: 50px;
	
}

.container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.card{
	background: white;
	width: 270px;
	margin: 10px;
	border-radius: 15px;
}
.card-image{
	
	height: 150px;
	margin-bottom: 15px;
	background-size: cover;
	border-radius: 15px 15px 0 0;
}
.Fish1{
	background-image: url('Fish1.jpg');
}
.Fish2{
	background-image: url('Fish2.jpg');
}
.Fish3{
	background-image: url('Fish3.jpg');
}
.Fish4{
	background-image: url('Fish4.jpg');
}
.Fish6{
	background-image: url('Fish6.jpg');
}
.card p{
	padding: 10px;
}
.card a{
	background-color: black;
	color: white;
	padding: 15px 20px;
	display: block;
	text-align: center;
	margin: 20px 50px;
	text-decoration: none;
}
.card:hover{
	background-color: rgb(62, 62, 62);
	color: white;
	cursor: pointer;
	transform: scale(1.03);
	transition: all 1s ease;
}